.imgmobile{
  width: 53px;
  height: 53px;
  border: 1px;
}

.alignItemsHomeBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.alignItemsTextBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: 53px;

}

.bell{
  display: flex;
  text-align: center;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #AAAAAA;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #AAAAAA;
  height: 23px;
  width: 35px;
  color: #2B2B2B;
}

.nombreUsr{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly ;
  width: 150px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #AAAAAA;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #AAAAAA;
  color: #2B2B2B;
}

.imgBarContainer{
  width: 550px;
}

.imgBellIcon{
  width: 18px;
  height: 20px;
}

.powerOnOff{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 150px;
  align-items: center;
  color: #2B2B2B;
}

.hide1{
  display: none;
}

.hide2{
  display: block;
}

.iconsMobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler_color {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}


@media (max-width: 993px) {

  .imgBarContainer{
    width: auto;
  }

  .divImgRelax{
    display: none;
  }

  .login{
    width: 90%;
  }

  .formularioLogin{
    width: 90%;
  }

  .hide1{
    display: block;
  }

  .hide2{
    display: none;
  }
}

@media (max-width: 1007px) {

  .imgBarContainer{
    width: auto;
  }

}