.fontTitle{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #2B2B2B;
}

.fontColumnHeader{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #2B2B2B;
}

.fontRows{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #2B2B2B;
}

.filtro{
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  height: 46px;
  font-size: 1.1vw
}

.sombra{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

@media (max-width: 993px) {

  .fontTitle{
    text-align: center;
  }

  .filtro{
    font-size: 3.5vw
  }
}